{{!-- {{#extends 'base'}}
{{#block 'content'}}

    <h1> Items In Your Cart </h1>
    <div class="list-group">
        {{#each ItemsInCart}}
        <div class="list-group-item">
            <img src="{{this.poster}}
        </div>




    </div>

{{/block}}
{{/extends}} --}}